<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>503 - Temporarily unavailable</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/x-icon" href="images/favicon-blue-32x32.png" />
    <!-- Google web Font -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400">
    <!-- Font Awesoeme Stylesheet CSS -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- Start Not Found Section -->
    <div class="notfound-wrapper">
        <h1 class="notfound-ttl">503</h1>
        <p class="notfound-tag-1">Temporarily unavailable</p>
        <span class="notfound-tag-2">Briefly unavailable for scheduled maintenance...</span>
        <span class="notfound-tag-2">Check back after some time.</span>
        <div class="notfound-link">
            <a href="/" class="button-icon"><span>Go to Home</span><i class="fa fa-home"></i></a>
            <a href="mailto:Easy Diagnosis<identify2021.noreply@gmail.com>?Subject=Report%20Problem:%20--fill%20report%20title--" class="button-icon"><span>Report Problem</span><i class="fa fa-bug"></i></a>
        </div>
        
        
    </div><!-- End Not Found Section -->
</body>
</html>