<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Site Title -->
    <title> Diagnose result </title>
    <!-- Meta Description Tag -->
    <meta name="Description" content="Klinik is a HTML5 & CSS3 responsive template">
    <!-- Favicon Icon -->
    <link rel="icon" type="image/x-icon" href="static/images/logo1.png" />
    <!-- Font Awesoeme Stylesheet CSS -->
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css" />
    <!-- Google web Font -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,500">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <!-- Material Design Lite Stylesheet CSS -->
    <link rel="stylesheet" href="static/css/material.min.css" />
    <!-- Material Design Select Field Stylesheet CSS -->
    <link rel="stylesheet" href="static/css/mdl-selectfield.min.css">
    <!-- Owl Carousel Stylesheet CSS -->
    <link rel="stylesheet" href="static/css/owl.carousel.min.css" />
    <!-- Animate Stylesheet CSS -->
    <link rel="stylesheet" href="static/css/animate.min.css" />
    <!-- Magnific Popup Stylesheet CSS -->
    <link rel="stylesheet" href="static/css/magnific-popup.css" />
    <!-- Flex Slider Stylesheet CSS -->
    <link rel="stylesheet" href="static/css/flexslider.css" />
    <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="static/css/style.css">

    <style>
    @media print {
      body * {
        visibility: hidden;
      }
      #printableArea ,.page-ttl, .page-ttl * ,#printableArea  * {

        visibility: visible;
      }

      .page-ttl{

        background-color:rgb(83, 168, 181) !important;

      }

      #printableArea {

        position: relative;

        top: 0;

        font-family: serif;
        font-style: normal;
        font-size:20px;

      }
      #insideprint{
          width:400px;
          position: relative;
          left:23%;
          box-shadow: 0 4px 8px 0 rgba(20, 12, 12, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
      }

      a[href]:after {
   content: none !important;
 }
}


.color-purple{

        font-size:60px;
}

    }

    </style>



</head>
<body>
    <!-- Start Header -->

<!-- Start Header -->   
    
    <header id="header-transparent">        
            <div class="layer-stretch hdr-top">
                
                
                <div class="hdr-top-block">
                    <div>{% if session['logged_in'] %}
                        <a href="/logout" class="mdl-button mdl-js-button mdl-js-ripple-effect font-12"><i class="fa fa-sign-out color-black"></i> Logout</a>
                      {% endif %}
                    </div>
                    
                </div>
                 <div class="hdr-center-logo text-center">
                        <a href="/" class="d-inline-block"><img src="{{url_for('static', filename='images/logo1.png')}}" alt=""></a>
                    </div>
                
        </div> 
        
        
    </header><!-- End Header -->


       <div class="page-ttl">
           <div class="layer-stretch">
               <div class="page-ttl-container">
                   <br>
                   <br>
                   <h1>Diagnosis Result</h1>
                     <p><a href="/">Home</a> &#8594; {% if session['logged_in'] %}<a href="/diagnosishistory">Diagnose History</a> &#8594; {% endif %} <a href="/diagnosis">Diagnose</a> &#8594; <samp> Diagnose result</samp> </p>
               </div>
           </div>
         </div>


    <!-- Start Diagnose result Section -->

      <div id="tabs" style="min-height:460px">

          <div class="theme-material-card " style="min-height:460px">
              <div class="layer-stretch" id="printableArea">
                      <div class="layer-wrapper" >
                        <div id=insideprint>
                          <div class="form-container">
                                    <p class=" "><i class="fa fa-user-md theme-dropcap color-purple"></i> The diagnosis indicates a <em>{{result}}</em> result for {{disease}} <br/> </p>
                                    <P class="paragraph-black"><br/> <br/>  The accuracy of the system is {{(acc*100)|round(2)}}% </P>
                         </div>
                       </div>
                     </div>



</div>
           <div onclick="printPage()" align=center>
              <img src="static/images/print2.png" width="50" height=50>
              <label>Print Result!</label>
         </div>
          </div>
    </div>
 <!-- End Diagnose result Section -->





 <footer id="footer" >
        <div class="layer-stretch">
            <!-- Start main Footer Section -->
           <div class="row layer-wrapper">
                <div class="col-md-4 footer-block">
                    <div class="footer-container footer-a">
                        <div class="tbl">
                            <div class="tbl-row">
                                <div class="tbl-cell"><i class="fa fa-map-marker"></i></div>
                                <div class="tbl-cell">
                                    <p class="paragraph-medium paragraph-white">
                                        Saudi Arabia, Dammam
                                    </p>
                                </div>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="footer-container footer-a">
                        <div class="tbl">
                            <div class="tbl-row">
                                
                                <div class="tbl-cell"><i class="fa fa-phone"></i></div>
                                <div class="tbl-cell">
                                    <p class="paragraph-medium paragraph-white">013-600-1343</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-container footer-a">
                    <div class="tbl-row">
                                <div class="tbl-cell"><i class="fa fa-envelope"></i></div>
                                <div class="tbl-cell">
                                    <p class="paragraph-medium paragraph-white"><a href="mailto: Easy Diagnosis <identify2021.noreply@gmail.com>?Subject=Report%20Problem:%20--fill%20report%20title--" target="_top"> Contact us </a></p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End main Footer Section -->
        <!-- Start Copyright Section -->
        <div id="copyright">
            <div class="layer-stretch">
                <div class="paragraph-medium paragraph-white">Easy Diagnosis 2021 ©.</div>
            </div>
        </div><!-- End of Copyright Section -->
    </footer>


<script>
function printPage() {
    window.print();
}
</script>

<script src="static/js/jquery-2.1.4.min.js"></script>
<!-- Popper JavaScript-->
<script src="static/js/popper.min.js"></script>
<!-- Bootstrap Core JavaScript-->
<script src="static/js/bootstrap.min.js"></script>
<!-- Material Design Lite JavaScript-->
<script src="static/js/material.min.js"></script>
<!-- Material Select Field Script -->
<script src="static/js/mdl-selectfield.min.js"></script>
<!-- Flexslider Plugin JavaScript-->
<script src="static/js/jquery.flexslider.min.js"></script>
<!-- Owl Carousel Plugin JavaScript-->
<script src="static/js/owl.carousel.min.js"></script>
<!-- Scrolltofixed Plugin JavaScript-->
<script src="static/js/jquery-scrolltofixed.min.js"></script>
<!-- Magnific Popup Plugin JavaScript-->
<script src="static/js/jquery.magnific-popup.min.js"></script>
<!-- WayPoint Plugin JavaScript-->
<script src="static/js/jquery.waypoints.min.js"></script>
<!-- CounterUp Plugin JavaScript-->
<script src="static/js/jquery.counterup.js"></script>
<!-- SmoothScroll Plugin JavaScript-->
<script src="static/js/smoothscroll.min.js"></script>
<!--Custom JavaScript for Klinik Template-->
<script src="static/js/custom.js"></script>
</body>
</html>
