<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Site Title -->
    <title> video </title>
    <!-- Meta Description Tag -->
    <meta name="Description" content="Klinik is a HTML5 & CSS3 responsive template">
    <!-- Favicon Icon -->
    
    
    
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='images/favicon1.png')}}" />
    <!-- Font Awesoeme Stylesheet CSS -->
    
    <link rel="stylesheet" href="{{url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" />
    <!-- Google web Font -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,500">
    <!-- Bootstrap core CSS -->
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
    <!-- Material Design Lite Stylesheet CSS -->
    
    <link rel="stylesheet" href="{{url_for('static', filename='css/material.min.css')}}" />
    <!-- Material Design Select Field Stylesheet CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/mdl-selectfield.min.css')}}" />
    
    <!-- Owl Carousel Stylesheet CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.carousel.min.css')}}" />
    
    <!-- Animate Stylesheet CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/animate.min.css')}}" />
    
    <!-- Magnific Popup Stylesheet CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/magnific-popup.css')}}" />
    
    <!-- Flex Slider Stylesheet CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/flexslider.css')}}" />
   
    <!-- Custom Main Stylesheet CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
</head>
<body>
    <!-- Start Header -->
     <header id="header-transparent">        
            <div class="layer-stretch hdr-top">
                
                
                <div class="hdr-top-block">
                    
                    
                </div>
                 <div class="hdr-center-logo text-center">
                        <a href="/" class="d-inline-block"><img src="{{url_for('static', filename='images/logo1.png')}}" alt=""></a>
                    </div>
                
        </div> 
        
        
    </header>
    <!-- Start Page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <br>
                <h1>Easy Diagnosis</h1>
                
            </div>
        </div>
    </div><!-- End Page Title Section -->
    <!-- Start Diagnose result Section -->
    
      <div id="tabs" style="min-height:440px" >
          <div class="layer-stretch">
        <div class="layer-wrapper">
            <div class="container text-center" >
      <iframe  width="820" height="540" src="https://www.youtube.com/embed/IDF1RU1Gx0I">
</iframe>
                </div>
            </div>
              </div>
    </div>
 <!-- End Diagnose result Section --
    
  
   
    
    <!-- Start Footer Section -->
    <footer id="footer">
        <div class="layer-stretch">
            <!-- Start main Footer Section -->
           <div class="row layer-wrapper">
                <div class="col-md-4 footer-block">
                    <div class="footer-container footer-a">
                        <div class="tbl">
                            <div class="tbl-row">
                                <div class="tbl-cell"><i class="fa fa-map-marker"></i></div>
                                <div class="tbl-cell">
                                    <p class="paragraph-medium paragraph-white">
                                        Saudi Arabia, Dammam
                                    </p>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="footer-container footer-a">
                        <div class="tbl">
                            <div class="tbl-row">
                                
                                <div class="tbl-cell"><i class="fa fa-phone"></i></div>
                                <div class="tbl-cell">
                                    <p class="paragraph-medium paragraph-white">013-600-1343</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="footer-container footer-a">
                      <div class="tbl-row">
                                <div class="tbl-cell"><i class="fa fa-envelope"></i></div>
                                <div class="tbl-cell">
                                    <p class="paragraph-medium paragraph-white"><a href="mailto: Easy Diagnosis<identify2021.noreply@gmail.com>?Subject=Report%20Problem:%20--fill%20report%20title--" target="_top"> Contact us </a> </p>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End main Footer Section -->
        <!-- Start Copyright Section -->
        <div id="copyright">
            <div class="layer-stretch">
                <div class="paragraph-medium paragraph-white">Easy Diagnosis 2021 ©.</div>
            </div>
        </div><!-- End of Copyright Section -->
    </footer><!-- End of Footer Section -->

    <!-- **********Included Scripts*********** -->

    <!-- Jquery Library 2.1 JavaScript-->
    
    
    <script src="{{url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
                 
    <!-- Popper JavaScript-->
    <script src="{{url_for('static', filename='js/popper.min.js')}}"></script>
    
    <!-- Bootstrap Core JavaScript-->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    
    <!-- Material Design Lite JavaScript-->
    <script src="{{url_for('static', filename='js/material.min.js')}}"></script>
    
    <!-- Material Select Field Script -->
    <script src="{{url_for('static', filename='js/mdl-selectfield.min.js')}}"></script>
    
    <!-- Flexslider Plugin JavaScript-->
    <script src="{{url_for('static', filename='js/jquery.flexslider.min.js')}}"></script>
    
    <!-- Owl Carousel Plugin JavaScript-->
    <script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
    
    <!-- Scrolltofixed Plugin JavaScript-->
    <script src="{{url_for('static', filename='js/jquery-scrolltofixed.min.js')}}"></script>
    
    <!-- Magnific Popup Plugin JavaScript-->
    <script src="{{url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
    
    <!-- WayPoint Plugin JavaScript-->
    <script src="{{url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
    
    <!-- CounterUp Plugin JavaScript-->
    <script src="{{url_for('static', filename='js/jquery.counterup.js')}}"></script>
    
    <!-- SmoothScroll Plugin JavaScript-->
    <script src="{{url_for('static', filename='js/smoothscroll.min.js')}}"></script>
    
    <!--Custom JavaScript for Klinik Template-->
    <script src="{{url_for('static', filename='js/custom.js')}}"></script>
    
</body>
</html>